---
layout: default
title: Expertise
---

{% assign expertise_items = site.expertise | sort: 'order' %}

<section id="expertise" class="expertise">

    <ul class="expertise__tags">

        {% for item in expertise_items %}
            <li class="expertise__tag">
                <a class="expertise__tag-link{% if forloop.index == 1 %} expertise__tag-link--active{% endif %}" href="#expertise-{{ item.title | slugify }}">
                    #{{ item.title }}
                </a>
            </li>
        {% endfor %}

        </ul>

    <section class="expertise__content-wrapper">

        {% for item in expertise_items %}

            <div id="expertise-{{ item.title | slugify }}" class="expertise__content{% if forloop.index == 1 %} expertise__content--active{% endif %}">

                <div class="expertise__content-item expertise__content-item--content">

                    <div class="line line--lightblue"></div>

                    <header class="page__header page__header--expertise">

                        <h1 class="page__title page__title--expertise">
                            {{ item.title }}
                        </h1>

                        <div class="page__subtitle page__subtitle--expertise">
                            {% for tag in item.tags %}
                                {% unless forloop.last %}
                                    {{ tag }}, 
                                {% else %}
                                    {{ tag }}
                                {% endunless %}
                            {% endfor %}
                        </div>

                    </header>

                    <div class="expertise__item-content post__content">
                        {{ item.content }}
                    </div>

                </div>

                <div class="expertise__content-item expertise__content-item--media">
                    <video src="{{ item.media_file | relative_url }}" width="90%" height="90%" autoplay loop>
                        Your browser does not support the video tag.
                    </video>
                </div>

            </div>

        {% endfor %}

    </section>

</section>