<section class="section hire-us container full-page">

    <div class="line line--section line--lightblue" id="hire-us"></div>

    <header class="section__header">

        <h2 class="section__title">
            Hire us
        </h2>

        <p class="section__subtitle">
            Tell us about your project
        </p>
        
    </header>

    <div class="section__content">

        <div class="hire-us__content">

            {% include hire-us-form.html %}

        </div>

    </div>

</section>