<section class="section how-we-work container full-page">

    <div class="line line--section line--lightblue" id="how-we-work"></div>

    <header class="section__header">

        <h2 class="section__title">
            How We Work
        </h2>

        <p class="section__subtitle">
            Collaboration
        </p>
        
    </header>

    <div class="section__content">

        <div class="how-we-work__content">

            {% for item in site.data.how-we-work.items %}
                
                <div class="how-we-work__item">

                    <div class="how-we-work__item-icon {{ item.icon_id }}-icon">
                        {% include svg/icon.html id=item.icon_id %}
                    </div>
    
                    <div class="how-we-work__info">
                    
                        <h4 class="how-we-work__item-title">
                            {{ item.title }}
                        </h4>
        
                        <p class="how-we-work__item-desc">
                            {{ item.desc }}
                        </p>

                    </div>
    
                </div>

            {% endfor %}

        </div>

        <div class="how-we-work__btn">
            <a href="{{ '/hire' | relative_url }}" class="hire-us-btn hire-us-btn--blue hire-us-btn--centered">
                <span class="hire-us-btn__text">
                    Hire Us
                </span>
            </a>
        </div>

    </div>

    <a id="how-we-work-goto" href="#our-clients" class="go-to-next go-to-next--section">
        {% include svg/icon.html id='scroll-down-icon' %}
    </a>

</section>