<article class="post">
    
    <header class="article-header">

        <h2 class="post-summary-title">
            <a href="{{ summary.url | relative_url }}">
                {{ summary.title }}
            </a>
        </h2>

        {% if include.article_type == 'post' %}
            <div class="post-meta">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <time datetime="{{ summary.date | date: '%Y/%m/%d' }}">
                    {{ summary.date | date_to_string }}
                </time>
                &nbsp;•&nbsp;
                <i class="fa fa-commenting-o" aria-hidden="true"></i>
                <a
                  class="comments-count"
                  href="{{ summary.url | relative_url }}#disqus_thread"
                  data-disqus-identifier='{{ summary.url | absolute_url }}'
                >
                  Comments
                </a>
            </div>
        {% endif %}

    </header>

    <div class="post-content">
        
        {% if summary.summary_img_path %}
            
            {% assign summary_img_relative_path = '/assets/images/' | append: summary.summary_img_path %}

            <p>
                <img src="{{ summary_img_relative_path | relative_url }}" alt="{{ summary.summary_img_alt_text }}">
            </p>

        {% endif %}
        
        <p>
            {{ summary.content | markdownify | strip_html | truncatewords: 50 }}
        </p>
    </div>

</article>