<div class="clients-slider-wrapper">
    <a href="">
        <div class="clients-slider">

            <div class="clients-slider__item invisible"><img src="http://via.placeholder.com/180/ffffff/666666?text=Jastics!" alt=""></div>
            <div class="clients-slider__item invisible"><img src="http://via.placeholder.com/180/ffffff/666666?text=Jastics!" alt=""></div>
            <div class="clients-slider__item invisible"><img src="http://via.placeholder.com/180/ffffff/666666?text=Jastics!" alt=""></div>
            <div class="clients-slider__item invisible"><img src="http://via.placeholder.com/180/ffffff/666666?text=Jastics!" alt=""></div>
            <div class="clients-slider__item invisible"><img src="http://via.placeholder.com/180/ffffff/666666?text=Jastics!" alt=""></div>
            <div class="clients-slider__item invisible"><img src="http://via.placeholder.com/180/ffffff/666666?text=Jastics!" alt=""></div>
            <div class="clients-slider__item invisible"><img src="http://via.placeholder.com/180/ffffff/666666?text=Jastics!" alt=""></div>
            <div class="clients-slider__item invisible"><img src="http://via.placeholder.com/180/ffffff/666666?text=Jastics!" alt=""></div>    
            <div class="clients-slider__item invisible"><img src="http://via.placeholder.com/180/ffffff/666666?text=Jastics!" alt=""></div>    

        </div>
    </a>
</div>