<footer class="site-footer">

    <p class="site-footer__title">
        Get in touch
    </p>

    <p class="site-footer__email">
        <!-- <span class="site-footer__email-icon"> -->
            {% include svg/icon.html id='mail-envelope' classes='site-footer__email-icon-svg' %}
        <!-- </span> -->
        <span class="site-footer__email-text">
            {{ site.email }}
        </span>
    </p>

    <div class="site-footer__social-icons">
        <a href="{{ site.twitter_url }}" class="social-icon social-icon--footer">
            {% include svg/icon.html id='twitter-icon' %}
        </a>
        <a href="{{ site.linkedin_url }}" class="social-icon social-icon--footer">
            {% include svg/icon.html id='linkedin-icon' %}
        </a>
        <a href="{{ site.linkedin_url }}" class="social-icon social-icon--footer">
            {% include svg/icon.html id='facebook-icon' %}
        </a>
        <a href="{{ site.upwork_url }}" class="social-icon social-icon--footer social-icon--footer-upwork">
            {% include svg/icon.html id='upwork-icon' %}
        </a>
    </div>    

</footer>
