<div id="site-header-wrapper" class="site-header-wrapper">

    <header class="site-header site-header--page container menu-closed">

        <a id="site-header__logo" href="{{'/' | relative_url}}" class="site-header__logo">
            <span class="site-header-logo__text">{{ site.title }}</span>
        </a>

        <div class="site-header__links site-header__links--page" id="header-links">
            
            <a href="{{ '/hire' | relative_url }}" class="hire-us-btn hire-us-btn--page" id="hire-us-btn--page">
                <span class="hire-us-btn__text">
                    Hire Us
                </span>
            </a>

            <nav class="site-nav site-nav--page">

                <div class="site-nav__icon site-nav__icon--page site-nav__icon--open-menu" id="open-menu--page">
                    {% include svg/icon.html id='open-menu-icon' %}
                </div>

                <div class="site-nav__icon site-nav__icon--close-menu" id="close-menu--page">
                    {% include svg/icon.html id='close-menu-icon' %}
                </div>
            
            </nav>

            {% include nav.html modifier='page' %}

        </div>

        <div class="nav-wrapper nav-wrapper--page" id="nav-wrapper"></div>

    </header>

    

</div>