<div class="center-container-fluid home__banner-container">
    
    <div class="center-row-fluid home__banner">
        <div class="span3 centering text-center home__logo">
            <img src="{{ '/assets/images/HQ.png' | relative_url }}" class="main-logo" alt="Jastics logo">
            <div class="main-subheader">
                We're a team of software engineers, </br>
                data experts & thinkers, who craft </br>
                digital experience
            </div>
                
        </div>

        {% include clients_slider.html %}
        
    </div>

</div>