<div id="how-we-work-wrapper" class="container-fluid how-we-work-wrapper">

    <div class="container how-we-work">

        <div class="horizontal-lightblue-line"></div>

        <div class="row">
            <h2 class="how-we-work__heading">
                How we work
            </h2>
        </div>

        <div class="row">

            <div class="col-md-5 how-we-work__section">
                <div class="how-we-work__section-type">
                    Full-cycle solutions
                </div>
                <h3 class="how-we-work__section-heading">
                    Integrated Brand Partner
                </h3>
                <p class="how-we-work__section-text">
                    If you need to develop a new brand or to rebrand your current one to remain competitive
                </p>
            </div>

            <div class="col-md-1"></div>

            <div class="col-md-5 how-we-work__section">
                <div class="how-we-work__section-type">
                    Project-based
                </div>
                <h3 class="how-we-work__section-heading">
                    Creative Partner
                </h3>
                <p class="how-we-work__section-text">
                    If you have a detailed brief and need a tactical campaign for your product or company
                </p>
            </div>

            <div class="col-md-1"></div>
            
        </div>

    </div>

    <div id="testimonials-goto" class="testimonials-goto">
        <div class="testimonials-goto__text">
            {{ site.data.testimonials.goto_text }}
        </div>
        <i class="fa fa-angle-down testimonials-goto__arrow" aria-hidden="true"></i>        
    </div>

</div>