<script src="{{ '/assets/js/jquery-1.10.2.min.js' | relative_url }}"></script>

{% if page.layout == 'post' or page.layout == 'whitepaper' %}
    <script src="{{ '/assets/js/anchor.min.js' | relative_url }}"></script>
    <script>
        anchors.options = {
            placement: 'left',
            visible: 'always'            
        };
        anchors.add();
    </script>
{% endif %}

{% if page.layout == 'home' %}
    <script type="text/javascript" src="{{ '/assets/js/slick.min.js' | relative_url }}"></script>
    <script>
        $(document).ready(function(){
            $(".clients-slider").on('init', function () {
                $(".clients-slider__item").removeClass('invisible');
            }); 
            $('.clients-slider').slick({
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 1000,
                arrows: false,
                centerMode: true
            });

            $('#how-we-work-goto').on('click', function(){
                $('html, body').animate({
                    scrollTop: $("#how-we-work-wrapper").offset().top
                }, 1000);
            });

        });
    </script>
{% endif %}

<script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/custom.js' | relative_url }}"></script>

{% if page.title == 'Expertise' %}
    {% include expertise_script.html %}
{% endif %}

{% if page.layout == 'post' or page.type == 'post-summaries' %}
    <script id="dsq-count-scr" src="//{{ site.disqus.shortname }}.disqus.com/count.js" async></script>
{% endif %}