<script src="{{ '/assets/js/jquery-1.10.2.min.js' | relative_url }}"></script>

{% if page.layout == 'post' or page.layout == 'whitepaper' %}
    <script src="{{ '/assets/js/anchor.min.js' | relative_url }}"></script>
    <script>
        anchors.options = {
            placement: 'left',
            visible: 'always'            
        };
        anchors.add();
    </script>
{% endif %}

{% if page.layout == 'home' %}
    <script type="text/javascript" src="{{ '/assets/js/slick.min.js' | relative_url }}"></script>
    <script>
        $(document).ready(function(){
            $(".clients-slider").on('init', function () {
                $(".clients-slider__item").removeClass('invisible');
            }); 
            $('.clients-slider').slick({
                slidesToShow: 4,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 1000,
                arrows: false,
                centerMode: false,
                responsive: [
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 2
                        }
                    }
                ]
            });

            $('#how-we-work-goto').on('click', function(){
                $('html, body').animate({
                    scrollTop: $("#how-we-work-wrapper").offset().top
                }, 1000);
            });
            $('#testimonials-goto').on('click', function(){
                $('html, body').animate({
                    scrollTop: $("#testimonials-wrapper").offset().top
                }, 1000);
            });

            $('.testimonials-items').slick({
                nextArrow: '<i class="fa fa-chevron-right slick-next" aria-hidden="true"></i>',
                prevArrow: '<i class="fa fa-chevron-left slick-prev" aria-hidden="true"></i>',
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            arrows: false,
                            dots: true
                        }
                    }
                ]
            });

        });
    </script>
{% endif %}

<script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/custom.js' | relative_url }}"></script>

{% if page.title == 'Expertise' %}
    {% include expertise_script.html %}
{% endif %}

{% if page.layout == 'post' or page.type == 'post-summaries' %}
    <script id="dsq-count-scr" src="//{{ site.disqus.shortname }}.disqus.com/count.js" async></script>
{% endif %}