<div id="services-wrapper" class="container-fluid services-wrapper">

    <div class="container services">

        <div class="col-md-12">
            <div class="horizontal-darkblue-line"></div>
        </div>            

        <div class="col-md-12">
            <h2 class="services__heading">
                Services
            </h2>
        </div>

        <div class="row services__items">
            {% for item in site.data.services.items %}        
                <div class="services__item">

                    <div class="services__item-icon-wrapper">
                        <img class="services__item-icon" src="{{ '/assets/icons/' | relative_url }}{{ item.icon }}" alt="{{ item.text }}">
                    </div>
                    <h4 class="services__item-title">
                        {{ item.text }}
                    </h4>

                </div>
            {% endfor %}
        </div>

    </div>

    <div id="how-we-work-goto" class="how-we-work-goto">
        <div class="how-we-work-goto__text">
            {{ site.data.clients.goto_text }}
        </div>
        <i class="fa fa-angle-down how-we-work-goto__arrow" aria-hidden="true"></i>        
    </div>

</div>