<div id="testimonials-wrapper" class="container-fluid testimonials-wrapper">

    <div class="container testimonials">

        <div class="horizontal-darkblue-line"></div>
        
        <div class="row">
            <h2 class="testimonials__heading">
                Testimonials
            </h2>
        </div>

        <div class="testimonials-items">
            {% for item in site.data.testimonials.items %}

                <div class="testimonial">

                    <h3 class="testimonial__project-title">
                        {{ item.project_title }}
                    </h3>

                    <p class="testimonial__text">
                        &ldquo;{{ item.text }}&rdquo;
                    </p>

                    <div class="testimonial__author">
                        - {{ item.author }}
                    </div>

                    <a href="{{ item.url | relative_url }}" class="testimonial__more-button">
                        More About ...
                    </a>

                </div>

            {% endfor %}
        </div>

    </div>

</div>