.banner {
    background-color: #494949;
    background-image: url(/assets/images/site/banner-bg.jpg);
    //min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    // display: table;
    // height: 100%;
    // width: 100%;
    // vertical-align: middle;
    min-height: 100%;

    @include breakpoint(large) {
        background-image: url(/assets/images/site/banner-bg-large.jpg);
    }
    @include breakpoint(medium) {
        background-image: url(/assets/images/site/banner-bg-medium.jpg);
    }
    @include breakpoint(small) {
        background-image: url(/assets/images/site/banner-bg-small.jpg);
        margin-bottom: 8vw;
    }

    &__container {
        padding: 40px 0;
        @include breakpoint(small) {
            padding-top: 24px;
        }
    }

    &__slogan {
        width: 40%;
        font-size: 25px;
        color: #fff;
        line-height: 1.5;

        @include breakpoint(medium) {
            width: 75%;
        }

        @include breakpoint(small) {
            font-size: 22px;
        }

    }

    &__socials-wrapper {
        position: absolute;
        bottom: $banner_bottom;
        width: 100%;

        @include breakpoint(medium) {
            bottom: 16px;
        }

        @include breakpoint(small) {
            display: none;
        }

    }

    &__socials {
        width: $page_width;
        max-width: $max-width;
        margin: 0 auto;
        
        @include clearfix;

        @include breakpoint(large) {
            width: 90%;
        }

    }

    &__social-icons {
        float: right;
    }

}