.post,
.posts {
    margin: 2em auto;
    max-width: 50em;

    h2, h3, h4 {
        margin-top: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1.1em;
    }

    a {
        text-decoration: underline;
        &:hover {
            color: $lightblue;
        }
    }

    img {
       max-width: 100%;
       width: 100%;
       display: block;
       margin: 1em auto; 
    }
}

.post-title {
    font-size: 1.3em;
}

.post-summary-title {
    font-size: 1.2em;
}

.post-meta {
    color: #999;
    font-size: .8em;
    margin: 1em 0 1.2em;
}

.post-content {
    max-width: 60em;
}

.posts-nav {
    overflow: hidden;
    padding-bottom: 2em;
	.go-to {
		text-decoration: none;
        margin-top: 1.5em;
        color: $lightblue;
        &:hover {
            text-decoration: underline;
        }
	}
	.left-post {
		float: left;
	}
	.right-post {
		float: right;
	}
}

.anchorjs-link  {
    position: relative !important;
    margin-left: 0 !important;
    text-decoration: none !important;
    color: $darkblue !important;
    &:hover {
        color: $lightblue !important;
    }
}

.blog-pagination {
    margin: 2em 0;
    text-align: center;
}

.pagination-nav {
    &:hover {
        text-decoration: none;
        color: $lightblue;
    }
}

.current-page-number {
    font-weight: bold;
    color: $darkblue;
}