.blog-pagination {

    text-align: center;
    
    &__nav-item {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: $lightblue;
        border-radius: 100%;
        margin: 0 12px;
        -webkit-transition: -webkit-transform .2s linear;
        transition: -webkit-transform .2s linear;
        transition: transform .2s linear;
        transition: transform .2s linear, -webkit-transform .2s linear;

        &:hover {
            -webkit-transform: scale(1.5);
                    transform: scale(1.5);
        }

    }

}