body {
    padding-top: 50px
}

body>.navbar {
    -webkit-transition: background-color .3s ease-in;
    transition: background-color .3s ease-in
}

@media (min-width:768px) {
    body>.navbar-transparent {
        background-color: transparent
    }
    body>.navbar-transparent .navbar-nav>.open>a {
        background-color: transparent!important
    }
}

#home {
    padding-top: 0
}

#home .navbar-brand {
    padding: 13.5px 15px 12.5px
}

#home .navbar-brand>img {
    display: inline;
    margin: 0 10px;
    height: 100%
}

#banner {
    min-height: 300px;
    border-bottom: none
}

.table-of-contents {
    margin-top: 1em
}

.page-header h1 {
    font-size: 4em
}

.bs-docs-section {
    margin-top: 6em
}

.bs-docs-section h1 {
    padding-top: 100px
}

.bs-component {
    position: relative
}

.bs-component .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block
}

.bs-component .modal-dialog {
    width: 90%
}

.bs-component .popover {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 20px
}

#source-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    font-weight: 700
}

.nav-tabs {
    margin-bottom: 15px
}

.progress {
    margin-bottom: 10px
}

footer {
    margin: 5em 0
}

footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em
}

footer p {
    clear: left;
    margin-bottom: 0
}

.splash {
    padding: 9em 0 2em;
    background-color: #141d27;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    text-align: center
}

.splash .logo {
    width: 160px
}

.splash h1 {
    font-size: 3em
}

.splash #social {
    margin: 2em 0
}

.splash .alert {
    margin: 2em 0
}

.section-tout {
    padding: 4em 0 3em;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    background-color: #eaf1f1
}

.section-tout .fa {
    margin-right: .5em
}

.section-tout p {
    margin-bottom: 3em
}

.section-preview {
    padding: 4em 0 4em
}

.section-preview .preview {
    margin-bottom: 4em;
    background-color: #eaf1f1
}

.section-preview .preview .image {
    position: relative
}

.section-preview .preview .image:before {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    pointer-events: none
}

.section-preview .preview .options {
    padding: 1em 2em 2em;
    border: 1px solid rgba(0, 0, 0, .05);
    border-top: none;
    text-align: center
}

.section-preview .preview .options p {
    margin-bottom: 2em
}

.section-preview .dropdown-menu {
    text-align: left
}

.section-preview .lead {
    margin-bottom: 2em
}

@media (max-width:767px) {
    .section-preview .image img {
        width: 100%
    }
}

.sponsor #carbonads {
    max-width: 240px;
    margin: 0 auto
}

.sponsor .carbon-text {
    display: block;
    margin-top: 1em;
    font-size: 12px
}

.sponsor .carbon-poweredby {
    float: right;
    margin-top: 1em;
    font-size: 10px
}

@media (max-width:767px) {
    .splash {
        padding-top: 4em
    }
    .splash .logo {
        width: 100px
    }
    .splash h1 {
        font-size: 2em
    }
    #banner {
        margin-bottom: 2em;
        text-align: center
    }
}

.footer-main {
    margin-top: 40px;
    font-size: 25px;
    color: white;
    letter-spacing: 8px;
    font-weight: 600;
}

.footer-sub {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
    letter-spacing: 4px;
}

.footer-icon-link {
    &:hover {
        text-decoration: none;
        .footer-icon {
            fill: $lightblue;
        }
    }
}

.footer-icon {
    margin-left: 10px;
    margin-right: 10px;
    width: 42px;
    height: 42px;
    fill: #fff;
}

.footer-icons {
    margin-bottom: 20px;
}

.navbar__item {
    position: relative;
}

.navbar__hire-us-item {
    padding: 4px 0;
    margin-left: 15px;
}

.navbar__hire-us-link {
    background-color: $darkblue;
    color: #fff !important;
     padding: 6px 10px !important;
     border-radius: 4px;
     margin-top: 10px;
    &:hover {
        text-decoration: underline !important;
        background-color: $darkblue !important;
    } 
}

.submenu {
    position: absolute;
    list-style: none;
    padding-left: 15px;
    margin-top: -14px;
    display: none;
    background-color: #fff;
}

.submenu__item {
    padding: 6px 0;
    font-size: 16px;
}

.submenu__link {
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    display: block;
    &:hover {
        text-decoration: none;
        color: $lightblue;
    }
}

#menuModal {
    li {
        margin-bottom: .8em;
        &:last-child {
            margin-bottom: 0;
        }
    }
    a {
        font-size: 1.8em;
        &:hover {
            color: $lightblue;
            text-decoration: none;
        }
    }
}

.home__banner-container {
    position: relative;
}

.invisible {
    visibility: hidden;
}

.clients-slider-wrapper {
    display: block;
    max-width: 900px;
    margin: 1em auto;
    a {
        display: block;
        overflow: hidden;
    }
}

.how-we-work-goto__arrow {
    font-size: 20px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.how-we-work-goto {
    position: absolute;
    left: 0;
    bottom: 18px;
    width: 100%;
    font-size: 18px;

    z-index: 2;
    cursor: pointer;
    text-align: center;

    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;

    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);

    &:hover {
        color: $lightblue;
        .how-we-work-goto__arrow {
            -webkit-transform: translateY(4px);
            -ms-transform: translateY(4px);
                transform: translateY(4px);
        }
    }
}

.navbar--right {
    float: right;
}

.main-menu {
    padding: 0 5em;
    max-width: 1900px;
    @media (max-width: 990px) {
        padding: 0 3em;
    }
    @media (max-width: 768px) {
        padding: 0 1em;
    }
}