h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    line-height: 1.1;
    color: $darkblue;
}

.pushed-right {
    margin-left: 15px;
}

.big-text {
    font-size: 4em;
}

.text-lightblue {
    color: $lightblue;
}

.text-darkblue {
    color: $darkblue;
}

.center-container-fluid {
    table-layout: fixed;
}

.btn-hire-menu {
    &:hover {
        text-decoration: underline;
    }
}

.btn-hire {
    &:hover {
        transition: background-color .5s ease-in;
        -webkit-transition: background-color .2s linear;
        background-color: darken(#47B2F4, 15%);
    }
}

.site-footer {
    box-shadow: 0 999em 0 999em $footer-bg;
    -webkit-box-shadow: 0 999em 0 999em $footer-bg;
}

.navbar-header {
    a {
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        &:hover {
            color: $lightblue !important;
            background-color: transparent !important;
        }
    }
}


.navbar__item {
    & > a {
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        &:hover {
            background-color: transparent !important;
            color: $lightblue !important;
        }
    }
}

.navbar__item.active {
    a {
        background-color: transparent !important;
        color: $lightblue !important;
    }
}


@media (min-width:768px) {
  .site-icon {
    float: left;
    margin-top: 17px;
    margin-right: 8px;
    width: 12%;
    height: 12%;
  }
}

@media (max-width:767px) and (min-width: 500px) {
  .site-icon {
    float: left;
    margin-top: 17px;
    margin-right: 0px;
    margin-left: 25px;
    width: 6%;
    height: 6%;
  }
}

@media (max-width:499px) {
  .site-icon {
    float: left;
    margin-top: 17px;
    margin-right: 0px;
    margin-left: 20px;
    width: 8%;
    height: 8%;
  }
}

.navbar-jastics {
  font-family: "Blissful Thinking";
  text-transform: initial;
  font-size: 36px;
  letter-spacing: 1px;
}

.home__banner {
    width: 100%;
    display: table-cell;
}

@media (max-width:768px) {
    .home__banner {
        position: relative;
        top: 20px;
    }
    .navbar {
        margin-bottom: 0;
    }
}

.horizontal-lightblue-line {
    background: $lightblue;
    height: 15px;
    width: 160px;
}

.horizontal-darkblue-line {
    background: $darkblue;
    height: 15px;
    width: 160px;
}

.slick-list,
.slick-list:focus,
.slick-list:active,
.slick-slide, .slick-slide * {
    outline: none !important;
}

.navbar-default {
    position: relative;
}

.home__banner-container {
    position: relative;
}

@media (min-width: 768px) {

    .main-menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
    }

    .menu-transition {
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
    }
    
    .menu-fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 9999;
    }
    
    .hide-menu {
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    
    .show-menu {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    }

    .push-goto-up {
        bottom: 90px;
    }

}