.how-we-work-wrapper {
    background-color: $darkblue;
    min-height: 100vh;
    position: relative;
}

.how-we-work {
    padding: 60px 0;
    color: #fff;
}

.how-we-work__heading,
.how-we-work__section-heading {
    color: #fff;
}

.how-we-work__heading {
    margin-bottom: 23vh;
    @media (max-width: 768px){
        margin-bottom: 45px;
        font-size: 38px;
    }
    font-size: 48px;
    letter-spacing: 1px;
}

.how-we-work__section {
    //padding-left: 0 !important;
    @media (max-width: 990px){
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid $lightblue;
        
    }
}

.how-we-work__section-text {
    font-size: 20px;
}

.how-we-work__section-heading {
    font-size: 36px;
    margin: 36px 0 20px;
    @media (max-width: 768px){
        font-size: 34px;
    }    
}

.how-we-work__section-type {
    color: $lightblue;
    font-size: 26px;
}

.how-we-work__section-text {
    line-height: 32px;
}

.testimonials-goto__arrow {
    font-size: 20px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.testimonials-goto {
    position: absolute;
    left: 0;
    bottom: 18px;
    width: 100%;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;

    z-index: 2;
    cursor: pointer;
    text-align: center;

    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;

    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);

    &:hover {
        color: $lightblue;
        .testimonials-goto__arrow {
            -webkit-transform: translateY(4px);
            -ms-transform: translateY(4px);
                transform: translateY(4px);
        }
    }
}