.how-we-work-wrapper {
    background-color: $darkblue;
    height: 100vh;
    position: relative;
}

.how-we-work {
    padding: 60px 0;
    color: #fff;
}

.how-we-work__heading,
.how-we-work__section-heading {
    color: #fff;
}

.how-we-work__heading {
    margin-bottom: 70px;
    font-size: 40px;
}

.how-we-work__section {
    padding-left: 0 !important;
    @media (max-width: 990px){
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid $lightblue;
        
    }
}

.how-we-work__section--last {
    margin-bottom: inherit;
    padding-bottom: inherit;
    border-bottom: none;
}

.how-we-work__section-type,
.how-we-work__section-text {
    font-size: 20px;
}

.how-we-work__section-heading {
    margin: 36px 0 20px;
}

.how-we-work__section-type {
    color: $lightblue;
}

.how-we-work__section-text {
    line-height: 32px;
}

.testimonials-goto__arrow {
    font-size: 20px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.testimonials-goto {
    position: absolute;
    bottom: 18px;
    width: 100%;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;

    z-index: 2;
    cursor: pointer;
    text-align: center;

    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;

    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);

    &:hover {
        color: $lightblue;
        .testimonials-goto__arrow {
            -webkit-transform: translateY(4px);
            -ms-transform: translateY(4px);
                transform: translateY(4px);
        }
    }
}