.scroll-down-icon {
    
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    -webkit-transition: stroke .2s linear;
    transition: stroke .2s linear;

    .section & {
        stroke: $darkblue;
    }

}

.open-menu-icon {
    width: 45px;
    height: 35px;
}

.close-menu-icon {
    -webkit-transition: stroke .2s linear;
    transition: stroke .2s linear;
    width: 45px;
    height: 35px;
    fill:none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10
}

@mixin social_icons($times) {

    .scroll-down-icon {
        width: $times * 46px;
        height: $times * 46px;
    }

    .twitter-icon {
        width: $times * 34px;
        height: $times * 32px;
    }

    .linkedin-icon {
        width: $times * 33px;
        height: $times * 33px;
    }

    .facebook-icon {
        width: $times * 18px;
        height: $times * 34px;
    }

    .upwork-icon {
        width: $times * 47px;
        height: $times * 32px;
    }

}

@include social_icons(1);

@include breakpoint(medium) {
    @include social_icons(.8);
}
@include breakpoint(small) {
    @include social_icons(.7);
}

.social-icon {

    fill: #fff;
    -webkit-transition: fill .2s linear;
    transition: fill .2s linear;
    &:hover {
        fill: $lightblue;
    }

    &--banner {
        margin-left: 42px;

        @include breakpoint(large) {
            margin-left: 24px; 
        }

        @include breakpoint(medium) {
            margin-left: 16px;
        }

        @media (max-width: 500px) {
            margin-left: 12px;
        }

    }

    &--footer {
        margin-right: 10px;
    }

    &--banner-upwork {
        position: relative;
        bottom: -10px;
    }

    &--footer-upwork {
        display: inline-block;
        vertical-align: bottom;
        line-height: 0;
    }

}

@mixin what_we_do_svg($times){
    svg {
        &.dedicated-develpoment-team {
            width: 95px * $times;
            height: 80px * $times;
        }
        &.software-product-development {
            width: 95px * $times;
            height: 80px * $times;
        }
        &.mobile-application-development {
            width: 95px * $times;
            height: 80px * $times;
        }
        &.software-qa-and-testing {
            width: 95px * $times;
            height: 80px * $times;
        }
        &.technical-consulting {
            width: 95px * $times;
            height: 80px * $times;
        }
        &.technical-support {
            width: 95px * $times;
            height: 80px * $times;
        }
    }
}

@mixin how_we_work_svg($times) {
    svg {
        &.full-cycle-solutions {
            width: 79px * $times;
            height: 80px * $times;
        }
        &.project-based {
            width: 73px * $times;
            height: 80px * $times;
        }
    }
}

@include what_we_do_svg(1);

@include breakpoint(large) {
    @include what_we_do_svg(.8);

}
@include breakpoint(small) {
    @include what_we_do_svg(1.5);
}

.what-we-do__icon {
    fill: $darkblue;
    vertical-align: top;
}

.what-we-do__icon-svg {
    max-width: 100%;
    margin-bottom: 16px;
}

.how-we-work__item-icon {
    @include how_we_work_svg(1);
}

svg.quotes-right {
    display: inline-block;
    width: 55px;
    height: 50px;
    stroke-width: 0;
    stroke: currentColor;
    fill: $lightblue;
}

.site-footer {
    @include social_icons(.55);
}

.site-footer__email-icon-svg {
    width: 35px;
    height: 20px;
    fill: #fff;
}

.slider-arrow-icon {
    fill: $lightgray;
    width: 36px;
    height: 36px;
    display: none !important;
    @include breakpoint(small) {
        display: inline-block !important;
    }
}

.go-to-top-icon {
    fill: #fff;
    width: 40px;
    height: 40px;
}