*,
html {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100vh;
    padding-bottom: 8px;
}

.container {
    width: $page_width;
    max-width: $max-width;
    margin: 0 auto;
    @include breakpoint(large) {
        width: 90%;
    }
    @include breakpoint(medium) {
        width: 95%;
    }
}

.main-wrapper {
    width: $page_width;
    max-width: $max-width;
    margin: 0 auto 80px;
    @include breakpoint(large) {
        width: 90%;
    }
    @include breakpoint(medium) {
        width: 95%;
    }
}

.full-page {
    min-height: 100vh;
    position: relative;
}