.site-nav {

    display: inline-block;

    z-index: 2;

    &__icon {

        fill: #fff;
        cursor: pointer;

        -webkit-transition: fill .2s linear;

        transition: fill .2s linear;

        &:hover {            
            fill: $lightblue;            
        }

        &--close-menu {
            display: none;
            &:hover {
                .close-menu-icon {            
                    stroke: $darkblue;
                }
            }
        }

        &--page {
            fill: $darkblue;
        }

    }

}