.post {

    margin-bottom: 60px;

    &__title {
        
        font-size: 35px;
        font-family: 'Gotham Pro Bold', sans-serif;
        color: $darkblue;
        margin: 60px 0 25px;

        @include breakpoint(medium) {
            margin: 5vw 0 25px;
            font-size: 30px;
        }

    }

    &__meta {
        color: $darkgray;
    }

    &__comments-count {
        color: $darkgray;
        margin-left: 20px;
        &:hover {
            text-decoration: underline;
        }
    }

}

.summary {

    &__title {
        font-family: 'Gotham Pro Bold', sans-serif;
        font-size: 25px;
    }

    &__title-link {
        color: $darkblue;
        -webkit-transition: color .2s linear;
                transition: color .2s linear;
        &:hover {
            color: $lightblue;
        }
    }

}