.section {

    padding-top: 80px;
    padding-top: 8vh;
    padding-bottom: 8vh;

    @include breakpoint(small) {
        padding-top: 4vw;
        padding-bottom: 0;
    }

    &__header {
        margin: 47px 0 80px 0;
        margin: 5vh 0 6vh 0;
        @include breakpoint(medium) {
            margin-top: 30px;
            margin-bottom: 50px;
        }
    }

    &__title {
        font-family: 'Gotham Pro Bold', sans-serif;
        margin: 0 0 35px 0;
        color: $darkblue;
        font-size: 50px;
        @include breakpoint(medium) {
            font-size: 40px
        }
        @include breakpoint(small) {
            font-size: 30px;
        }
    }

    &__subtitle {
        line-height: 1.5;
        color: $lightgray;
        font-size: 25px;
        margin: 2vh 0;
    }

    &__content {
        width: 95%;
        margin-right: auto;
        margin-left: auto;

        &--our-clients {
            width: 100%;
            margin: 0;
            padding-bottom: 60px;           
            padding-bottom: 8vh;           
        }

    }

}

.what-we-do {

    &__content {
        padding-bottom: 60px;
        padding-bottom: 8vh;
    }

    &__icons {
        text-align: center;
    }

    &__icon {
        display: inline-block;
        width: 33%;
        text-align: center;
        margin-bottom: 80px;
        margin-bottom: 6vh;
        padding: 0 12px;

        &:last-child {
            @include breakpoint(small) {
                margin-bottom: 0;
            }
        }

        @include breakpoint(large) {
            margin-bottom: 55px;
            width: 45%;
        }
        @include breakpoint(medium) {
            margin-bottom: 50px;
        }
        @include breakpoint(small) {
            width: 95%;
            margin-bottom: 40px;
        }

    }

    &__desc {
        font-size: 20px;
        color: $darkgray;
        line-height: 1.8;
        padding: 0 16px;

        @include breakpoint(large) {
            padding: 0 12px;
        }

    }

}

.how-we-work {

    padding-bottom: 60px;
    padding-bottom: 8vh;

    &__content {
        overflow: hidden;
        border: 2px solid $lightergray;
        border-radius: 12px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        @include clearfix;

        @include breakpoint(large) {
            width: 95%;
        }

        @include breakpoint(medium) {
            width: 100%;
        }

        @include breakpoint(small) {
            border: none;
        }
    }

    &__item {
        padding-top: 50px;
        padding-top: 4vh;
        padding-left: 12px;
        prefix: 12px;
        float: left;
        width: 50%;
        text-align: center;
        margin-bottom: -9999px;
        padding-bottom: 9999px;
        &:hover {
            background-color: $lightergray;
        }
        @include breakpoint(medium) {
            display: block;
            width: 100%;
            margin-bottom: 0;
            padding-top: 30px;
            padding-bottom: 12px;;
        }
    }

    &__info {
        display: inline-block;
        text-align: left;
    }

    &__item-title {
        font-family: 'Gotham Pro Bold', sans-serif;
        font-size: 30px;
        color: $darkblue;
        margin: 40px 0;
        margin: 4vh 0;
        @include breakpoint(medium) {
            margin: 25px 0;
        }
    }

    &__item-desc {
        font-size: 20px;
        color: $darkblue;
        line-height: 1.8;
        padding-bottom: 60px;
        padding-bottom: 3vh;
        @include breakpoint(medium) {
            padding-bottom: 0;
        }
    }

    &__btn {
        margin: 40px 0 15px 0;
        text-align: center;
    }

}

.our-clients {

    &__content {
        list-style: none;
        padding: 0;
    }

    &__item {

        width: 25%;

        @include breakpoint(small) {
            width: 100%;
        }
        
        &--active {
            display: inherit;
        }

        @include breakpoint(small) {
            text-align: center;
        }

    }

    &__item-img {
        &--has-feedback {
            &:hover {
                cursor: pointer;
            }
        }
    }

    &__feedback {
        width: 90%;
    }

    &__feedback-item {
        border: 2px solid $lightergray;
        padding: 40px 5% 80px 15%;
        padding: 2vh 5% 4vh 15%;
        display: none;
        
        &--active {
            //animation: fadein .5s;
            display: block;
        }

        @include breakpoint(small) {
            padding: 2vh 2vw 4vh 4vw;
        }
    }

    &__feedback-item-title {
        font-family: 'Gotham Pro Bold', sans-serif;
        color: $darkblue;
        font-size: 30px;
        @include breakpoint(small) {
            font-size: 26px;
            margin: 4vw 0;
        }
    }

    &__feedback-item-text {
        color: $darkergray;
        font-size: 20px;
        line-height: 1.8;
        position: relative;
        @include breakpoint(small) {
            font-size: 18px;
            line-height: 1.5;
        }
    }

    &__feedback-item-quote {
        position: absolute;
        top: 0;
        left: -70px;
        left: calc(-55px - 3vw);

        @include breakpoint(medium) {
            position: static;
        }

    }

    &__arrow {
        position: relative;
        top: 6px;
        display: inline-block;
    }

}

.hire-us {

    padding-bottom: 8vh;

    &__content {
        margin-bottom: 65px;
        margin-bottom: 6vh;
        @include breakpoint(medium) {
            margin-bottom: 40px;
        }
        @include breakpoint(small) {
            margin-bottom: 25px;
        }
    }

    &__input {
        display: block;
        width: 100%;
        margin-bottom: 25px;
        padding: 18px 18px 18px 25px;
        font-size: 18px;
        color: $darkgray;
        outline: none;
        border-radius: 12px;
        border: 1px solid $lightergray;
        -webkit-box-shadow: 0px 20px 25px -25px rgba(0,0,0,0.75);
                box-shadow: 0px 20px 25px -25px rgba(0,0,0,0.75);
        -webkit-transition: -webkit-box-shadow .1s linear;
        transition: -webkit-box-shadow .1s linear;
        transition: box-shadow .1s linear;
        transition: box-shadow .1s linear, -webkit-box-shadow .1s linear;

        &:focus {
            -webkit-box-shadow: 0px 5px 28px -11px rgba(0, 0, 0, 0.75);
                    box-shadow: 0px 5px 28px -11px rgba(0, 0, 0, 0.75)
        }

    }

    &__btn {
        text-align: center;
    }

}