.services-wrapper {
    //background-color: $darkblue;
    min-height: 100vh;
    position: relative;
}

.services {
    padding: 60px 0;
    //color: #fff;
}

.services__heading,
.services__section-heading {
    //color: #fff;
}