.services-wrapper {
    min-height: 100vh;
    position: relative;
}

.services {
    padding: 60px 0;
    overflow: hidden;
}

.services__heading {
    font-size: 48px;
    margin-bottom: 10vw; 
}

.services__items {
    margin-bottom: 65px;
    @media (max-width: 600px) {
        margin-bottom: 0;
    }
}

.services__item {
    text-align: center;
    margin-bottom: 3em;
    @media (max-width: 600px) {
        min-height: 180px;
        margin-bottom: 1em;
    }
}

.services__item-title {
    font-size: 16px;
    line-height: 23px;
    @media (max-width: 990px) {
        font-size: 14px;
    }
}

.services__item-icon {
    width: 80px;
    height: 80px;
    max-width: 100%;
    @media (max-width: 990px) {
        width: 75px;
        height: 75px;
    }
}