.testimonials {
    padding: 60px 0;
    min-height: 100vh;
    position: relative;
}

.testimonials-items {
    // padding: 0 26px;
    // @media (max-width:768px) {
    //     padding: 0;    
    // }
}

.testimonials__heading {
    margin-bottom: 18vw;
    @media (max-width: 768px){
        margin-bottom: 45px;
        font-size: 38px;
    }
    font-size: 48px;
    letter-spacing: 1px;
}

.testimonial__project-title {
    font-size: 32px;
    line-height: 32px;
    color: $lightblue;
    border-left: 6px solid $lightblue;
    padding-left: 6px;
    margin-bottom: 20px;
}

.testimonial__text {
    text-transform: uppercase;
    color: $darkblue;
    font-size: 30px;
    letter-spacing: 1px;
    @media (max-width: 768px){
        font-size: 24px;
    }    
}

.testimonial__author {
    font-size: 14px;
}

.testimonial__more-button {
    display: inline-block;
    background-color: $darkblue;
    color: #fff;
    padding: 10px 38px;
    margin: 40px 0;
    letter-spacing: 1px;
}

.slick-next,
.slick-prev {
    color: $darkblue;
    &:hover {
        color: $lightblue;
    }
}