$lightblue: #47B2F4;
$darkblue: #272A47;
$footer_bg: #272A47;

@font-face {
    font-family: "Blissful Thinking";
    src: url("font/BlissfulThinking.eot?") format("eot"), url("font/BlissfulThinking.woff") format("woff"), url("font/BlissfulThinking.ttf") format("truetype"), url("font/BlissfulThinking.svg#BlissfulThinking") format("svg");
    font-weight: normal;
    font-style: normal;
}