@font-face {
    font-family: "Gotham Pro Regular";
    src: url("/assets/fonts/GothamPro-regular.woff") format("woff"),
        url("/assets/fonts/GothamPro-regular.ttf") format("truetype");
}
@font-face {
    font-family: "Gotham Pro Bold";
    src: url("/assets/fonts/GothamPro-Bold.woff") format("woff"),
        url("/assets/fonts/GothamPro-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Playfair Display";
    src: url("/assets/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Blissful Thinking";
    src: url("/assets/fonts/BlissfulThinking.otf") format("opentype");
}

@mixin breakpoint($point) {
    @if $point == large {
        @media (max-width: 1024px) { @content ; }
    }
    @else if $point == medium {
        @media (max-width: 768px) { @content ; }
     }
    @else if $point == small {
        @media (max-width: 460px) { @content ; }
     }
 }

$max_width: 1130px;
$page_width: 78.47222222%;

$banner_bottom: 5vh;

$darkblue: #272a47;
$lightblue: #47b2f4;
$black: #2a2a2a;
$lightergray: #eaeaea;
$lightgray: #bbbbbb;
$darkgray: #7d7d7d;
$darkergray: #616161;

@mixin clearfix {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}