---
layout: generic
title: Blog
type: post-summaries
---

<h1 style="text-align: center; margin-top: 1em;">{{ page.title }}</h1>

<section class="posts">
  
    {% for summary in paginator.posts %}

        {% include article_summary.html article_type='post' %}

    {% endfor %}

</section>

{% if paginator.total_pages > 1 %}
    <nav class="blog-pagination" role="pagination">

    {% if paginator.previous_page %}
        <a title="Previous page" class="newer-posts pagination-nav" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">
            <i class="fa fa-angle-double-left"></i>
        </a>
    {% endif %}
    <span class="page-number">Page <span class="current-page-number">{{ paginator.page }}</span> of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
        <a title="Next page" class="older-posts pagination-nav" href="{{ paginator.next_page_path | prepend: site.baseurl }}">
            <i class="fa fa-angle-double-right"></i>
        </a>
    {% endif %}
        
    </nav>
{% endif %}