<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {% include head.html %}

    <body id="home" class="site-body">

        {% include svg/icons.svg %}

        <div class="nav-wrapper" id="nav-wrapper"></div>

        {% include banner.html %}

        {% include sections/what-we-do.html %}
        
        {% include sections/how-we-work.html %}
        
        {% include sections/our-clients.html %}
        
        {% include sections/hire-us.html %}
        
        {% include footer.html %}

        <a class="go-top" id="scrollBtn" href="#home">
            {% include svg/icon.html id='arrow-up' classes='go-to-top-icon' %}
        </a>

        {% include scripts/footer.html %}

        {% include scripts/home.html %}

    </body>

</html>