<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body data-gr-c-s-loaded="true" style="">

    {% include svgs.html %}

    <div class="front-wrapper">

      {% include header.html %}

      <main id="main" class="center-container-fluid home-main" aria-label="Content">

        {% include home_banner.html %}

      </main>

      <div id="services-goto" class="services-goto">
          <div class="services-goto__text">
              {{ site.data.services.goto_text }}
          </div>
          <i class="fa fa-angle-down services-goto__arrow" aria-hidden="true"></i>        
      </div>

    </div>

    {% include services.html %}
    
    {% include how-we-work.html %}
    
    {% include testimonials.html %}

    {% include footer.html %}

  </body>

</html>
