---
layout: default
---

<article class="post">

    <div class="line line--lightblue"></div>

    <header class="post__header">

        <h1 class="post__title">
            {{ page.title }}
        </h1>

        <section class="post__meta">
            <time class="post__date" datetime="{{ page.date | date: '%d.%m.%Y' }}">
                {{ page.date | date: '%d.%m.%Y' }}
            </time>
            <a
                class="post__comments-count"
                href="{{ page.url | relative_url }}#disqus_thread"
                data-disqus-identifier='{{ page.url | absolute_url }}'
            >
                Comments
            </a>
        </section>

    </header>

    <section class="post__content">

        {{ content }}

    </section>

</article>

{% if page.page_type == 'post' %}

    {% assign page_type = 'Blog' %}
    {% assign return_url = '/blog' %}

{% elsif page.page_type == 'whitepaper' %}

    {% assign page_type = 'Whitepapers' %}
    {% assign return_url = '/whitepapers' %}

{% endif %}

<a href="{{ return_url | relative_url }}" class="return-back">
    <span class="return-back__arrow">&larr;</span> Back to {{ page_type }}
</a>

{% if site.disqus.comments %}
    {% include comments.html %}
{% endif %}