<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="container" aria-label="Content">

        <article class="post">

            <header class="article-header">

                <h1 class="post-title">
                    {{ page.title | escape }}
                </h1>

                <div class="post-meta">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <time datetime="{{ page.date | date: '%Y/%m/%d' }}">
                        {{ page.date | date_to_string }}
                    </time>
                </div>

            </header>

            <div class="post-content">
                {{ content }}
            </div>

            {% include posts-nav.html %}

        </article>

    </main>

    {% include footer.html %}

  </body>

</html>
